@import 'checkbox';

.game {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  display: grid;
  align-items: center;
  grid-template-columns: 30% 35% 35%;
  text-align: left;
  min-height: 150px;

  &__types {
    padding-left: 25px;
    grid-column: 2 / 3;
    display: flex;
    justify-content: space-between;

    &_additional {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &_diffictulty {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
    }

    p {
      text-align: left;
    }
  }

  &__btn {
    grid-column: 3 / 4;
    width: 200px;
    height: 100px;
    display: block;
    margin: 0 auto;
  }
}