.personal {
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  padding: 25px;
  justify-content: space-between;

  &_img {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
  }

  &__bio {
    padding-left: 40px;

    &_title {
      font-size: 25px;
    }

    &_ul {
      padding-left: 0;
    }

    &_li {
      list-style-type: none;
      text-align: left;
      text-transform: uppercase;
      
      p {
        margin: 0;
      }

      img {
        margin-left: 10px;
      }
    }
  }

  &__btn {
    display: block;
    margin: 0 auto;
    width: 450px;
  }

  .mini-skills {
    width: 35px;
    height: 35px;
  }

  #personal_skills {
    display: flex;
    align-items: center;
  }

  .prehistory {
    text-transform: capitalize;
    white-space: normal;
  }
}